hidden = [".config", "deno.jsonc", "deno.lock", "tsconfig.json", ".gitignore", ".vscode"]
compile = "clear"
run = "deno task start"

[gitHubImport]
	requiredFiles = [".replit", "replit.nix", ".config", "deno.jsonc", "deno.lock"]



[nix]
	channel = "stable-23_05"