hidden = [".config", "package-lock.json"]
entrypoint = "./src/index.ts"
# run = "npm run start"

[gitHubImport]
	requiredFiles = [".replit", "replit.nix", ".config", "package.json", "package-lock.json"]



[nix]
	channel = "stable-23_05"


[packager]
	language = "nodejs-npm"

	[packager.features]
		packageSearch = true
		guessImports = true
		enabledForHosting = false