hidden = [".config", "pnpm-lock.yaml", "tsconfig.json", ".gitignore"]
compile = "clear"
run = "pnpm run start"

[gitHubImport]
	requiredFiles = [".replit", "replit.nix", ".config", "package.json", "pnpm-lock.yaml"]



[nix]
	channel = "stable-23_05"


[packager]
	language = "nodejs-pnpm"

	[packager.features]
		packageSearch = true
		guessImports = true
		enabledForHosting = true